/* 
* @Author: Marte
* @Date:   2017-10-12 19:45:18
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-15 12:44:22
*/
*{
    font-family: '微软雅黑';
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    font-size: 75px;
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.ico{
    font-family: "iconfont";
}
img{
    border:none;
}
#ele{
    height: 100%;
}
/*@media (max-width:450px) and (min-width:320px){
   html{
        font-size: 75px;
   }
}*/